@model SE1_Project.Models.Professional

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Professional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.streetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.averageRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.averageRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
