@using SE1_Project.Models.ViewModels
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model SE1_Project.Models.ViewModels.Professional_Details_ViewModel
@{
    string name = Model.FirstName + " " + Model.LastName;
    ViewData["Title"] = name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Professional_Roles">Back to List</a>
</p>
@*<p>
        <a class="btn btn-secondary" href="#review">Go to Reviews</a>
    </p>*@

<h1>Professional Information</h1>



<table class=" table-striped table-dark table-bordered" id="info">
    <tr>
        <td>Name</td>
        <td> @Html.DisplayFor(i => i.FirstName)  @Html.DisplayFor(i => i.LastName)</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Html.DisplayFor(i => i.Address)</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Html.DisplayFor(i => i.City),  @Html.DisplayFor(i => i.State)</td>
    </tr>
    <tr>
        <td>Profession</td>
        <td>@Html.DisplayFor(i => i.Profession)</td>
    </tr>
    <tr>
        <td>Rate</td>
        <td>@Html.DisplayFor(i => i.Rate)</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>@Html.DisplayFor(i => i.Company)</td>
    </tr>
    <tr>
        <td>Rating</td>
        <td>@Html.DisplayFor(i => i.Rating)</td>
    </tr>
</table>

<hr style="border-color:white;">
<hr style="border-color:white;">
<a id="review"></a>

<h4>Reviews for @Html.DisplayFor(i => i.FirstName) @Html.DisplayFor(i => i.LastName)</h4>

@{
    Review newReview = new Review();
}
@*Put submission of reviews here, above current reviews*@

@if (ViewContext.HttpContext.User.IsInRole("Customer"))
{
    <form asp-controller="Professionals" asp-action="getSpecificUserDetails" method="post" id="add">
        <p>
            Reviewer Name: <input type="text" asp-for="reviewer" />
        </p>
        <p>
            Review Text: <textarea asp-for="review"></textarea>
        </p>
        <p>
            Rating: <input type="number" max="5" min="1" value="3" asp-for="rating" />
        </p>
        <p>
            <input type="hidden" asp-for="email" value="@Model.professionalId" />
        </p>
        <p>
            <input type="submit" value="Submit Review" />
        </p>
    </form>

}
@foreach (var review in Model.Reviews)
{
    <div class="review" style="border-radius:25px; border-color:white; background:grey; padding:30px; width:600px;">
        <p><h3>@review.reviewerName</h3></p>
        <p>@review.reviewText</p>
        <p>@review.rating</p>
    </div>
    <br />
    @*<hr style="border-color:white;">*@
}

